/* src/components/Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative; /* Pas absolute, le background animé est sur body::before */
    z-index: 1; /* S'assurer qu'il est au-dessus du background animé */
}

.login-panel {
    padding: 50px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    /* Applique la classe .glass-effect qui vient de App.css */
    border-radius: 25px; /* Un peu plus grand pour un look plus "premium" */
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.login-title {
    margin-bottom: 10px;
    font-size: 2.2em;
    color: var(--header-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.login-subtitle {
    font-size: 1.1em;
    color: var(--text-color-secondary);
    margin-bottom: 40px;
}

.login-form {
    margin-top: 30px;
}

.login-button {
    width: 50%;
    padding: 15px 25px;
    font-size: 1.2em;
    font-weight: 200;
    margin-top: 30px;
}

.forgot-password-link {
    margin-top: 20px;
    font-size: 0.9em;
}

.forgot-password-link a {
    color: var(--active-item-color);
    text-decoration: none;
    transition: color var(--transition-fast);
}

.forgot-password-link a:hover {
    color: var(--header-color);
    text-decoration: underline;
}