/* src/components/MeetingsDashboard.css */

.meetings-dashboard-container {
    width: 100%;
}

.meetings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 5px; 
    margin-top: 10px;
    overflow-y: visible; 
    flex-grow: 1;
    
}

.meeting-card {
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10px; 
}

.meeting-card h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: var(--header-color);
}

.meeting-card .meeting-description {
    font-size: 0.95em;
    color: var(--text-color-secondary);
    flex-grow: 1; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}

.meeting-card .meeting-details {
    display: flex;
    flex-wrap: none;
    gap: 5px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
}

.meeting-card .detail-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.meeting-card .detail-item i {
    color: var(--active-item-color);
    font-size: 1.1em;
}

/* Specific form adjustments */
.form-group.half-width {
    width: calc(100% - 15px); 
    display: inline-block;
    vertical-align: top;
}
.form-group.half-width:first-of-type {
    margin-right: 20px;
}