/* src/components/ProjectDashboard.css */

.project-dashboard-container {
    width: 100%;
}

/* Styles pour les panneaux, listes et cards sont maintenant en grande partie dans App.css */
/* Ajoutez ici des styles spécifiques si nécessaire pour les projets */

.project-list li {
    font-size: 1.1em;
    font-weight: 500;
}

.project-list li.active {
    border-left: 5px solid var(--active-item-color);
}